{{ define "lk" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/lk/assets/favicon.png" type="image/png">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/lk/css/style.min.css">
    <title>LS86 - ЛИЧНЫЙ КАБИНЕТ</title>
</head>
<body>

    <!--Модульное окно смены пароля-->
    <div class="block-remove-password" id="block-remove-password">
        <div class="block-remove-name">
            <h2 class="remove-name">СМЕНА ПАРОЛЯ</h2>
        </div>
        <div class="container-settings">
            <div class="block-inputs-code">
                <input type="password" placeholder="Введите код из почты" class="code">
            </div>
            <div class="block-btn-accept-code">
                <button class="btn-accept" id="btn-accept">ОТПРАВИТЬ</button>
            </div>
        </div>
    </div>

    <!--Модульное окно смены пароля-->
    <div class="block-remove-password" id="block-set-password">
        <div class="block-set-name">
            <h2 class="remove-name">СМЕНА ПАРОЛЯ</h2>
        </div>
        <div class="container-settings">
            <div class="block-inputs-code">
                <input type="password" placeholder="Введите новый пароль..." class="code-set">
                <input type="password" placeholder="Повторите пароль..." class="code-set">
            </div>
            <div class="block-btn-set-code">
                <button class="btn-accept">СМЕНИТЬ</button>
            </div>
        </div>
    </div>

    <!--Модульное окно настроек-->
    <div class="block-settings-account" id="block-settings-account">
        <div class="block-settings-name">
            <h2 class="name-block-set">НАСТРОЙКИ АККАУНТА</h2>
        </div>
        <div class="container-settings">
            <div class="block-settings-stroke">
                <div class="block-stroke-email">
                    <h3 class="stroke-email">Почта: {{.Users.Email}}</h3>
                </div>
                <div class="block-stroke-password">
                    <h3 class="stroke-password">Пароль: *******</h3>
                    <i class="fa-solid fa-pen size-pencil" id="pencil"></i>
                </div>
            </div>
        </div>
    </div>

    <!--burger-menu-->
        <div class="burger-menu" id="burger-menu">
            <div class="block_mobile_nav">
                <li class="menu_nav_mobile">Правила</li>
                <li class="menu_nav_mobile">Форум</li>
                <li class="menu_nav_mobile">Донат</li>
                <li class="menu_nav_mobile">{{.Users.Login}}</li>
            </div>
        </div>
    <!--/burger-menu-->


    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header_logo">
                        <h2 class="logo">LS86</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header_nav">
                        <ul class="menu">

                            <!--burger-menu-->
                                <div class="burger" id="open-menu-nav">
                                    <div class="burger-line-one"></div>
                                    <div class="burger-line-two"></div>
                                    <div class="burger-line-three"></div>
                                </div>
                            <!--/burger-menu-->

                            <li class="menu_nav">Правила</li>
                            <li class="menu_nav">Форум</li>
                            <li class="menu_nav">Донат</li>
                            <li class="menu_nav">{{.Users.Login}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="banner-account"></div>
        <div class="container">
            <div class="name-block-lk">
                <h1 class="lk-name">ЛИЧНЫЙ КАБИНЕТ</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="block-information">
                        <div class="block-information-name">
                            <h5 class="name-account">{{.Users.Login}}</h5>
                        </div>
                        <div class="block-information-static">
                            <div class="block-name-static">
                                <h5 class="inform-name">СТАТИСТИКА</h5>
                            </div>
                            <div class="container-block-information">
                                <h5 class="inform">Форумный аккаунт:</h5>

                                <h5 class="inform">Кол-во персонажей: {{.Count}}</h5>


                                <h5 class="inform">Донат монеты:</h5>
                                <h5 class="inform">Почта: {{.Users.Email}}</h5>
                                <div class="block-btn-settings">
                                    <button class="btn-settings" id="btn-settings" type="button">НАСТРОЙКИ АККАУНТА</button>
                                </div>
                                <div class="block-btn-logout">
                                    <button class="btn-logout" id="btn-exit" type="button">ВЫЙТИ ИЗ АККАУНТА</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    {{ if .Full }}

                    {{ else }}
                    <!--Окно регистрации персонажа и сдодержание блоков персонажей-->
                    <div class="blocks-create-and-join-player">
                        <div class="block-create-player">
                            <div class="block-create-information">
                                <p class="text-information">
                                    Для того чтобы создать<br>
                                    персонажа, нажмите на кнопку,<br>
                                    и пройдите тест.<br>
                                </p>
                            </div>
                            <div class="block-btn-create-player" id="btn-create-pers">
                                <button class="btn-create-player">СОЗДАТЬ ПЕРСОНАЖА</button>
                            </div>
                        </div>
                    {{ end }}

                    {{ range .P }}
                        <div class="block-player" id="person-block-{{.State_Id}}" name="{{ .Id }}" style="display: block;">
                            <div class="up-block-name">
                                <h5 class="up-name-player" id="asd">{{ .Name }}</h5>
                            </div>
                        </div>
                    {{ end }}
                    </div>
                    <!--/-->
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="block_social">
            <a href="https://vk.com/lossantos86" target="_blank"><i class="fa-brands fa-vk vk-hover"></i></a>
            <a href="discord.gg/gRJv2Hr7" target="_blank"><i class="fa-brands fa-discord discord-hover"></i></a>
            </div>
            <div class="name_project_site">
                <h5 class="name_project">@los santos 86</h5>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/fe0c420bba.js" crossorigin="anonymous"></script>
    <script src="../static/lk/src/jquery-3.6.0.min.js"></script>
    <script src="../static/lk/src/app.js"></script>
</body>
</html>
{{ end }}